.grid-main {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 130px);
  grid-template-rows: repeat(6, 130px);
  min-height: 100vh;
}

body {
  background-color: rgb(85, 85, 199);

}

.grid-main button {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgb(212, 211, 243);
}

.result {
  display: grid;
  grid-column: 1/5;
  background-color: rgb(21, 20, 51);
}
.reset {
  display: grid;
  grid-column: 1/3;
}

.delete {
  display: grid;
  grid-column: 3/5;
}
.numbers {
  display: grid;
}
.operators {
  display: grid;
}

.grid-main button:hover {
    background-color: rgb(200, 190, 241);
  }