.grid-main {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  min-height: 140vh;
  gap: 5px 5px;
}

.grid-main button {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgb(212, 211, 243);
}

.result {
  display: grid;
  grid-row: 1/5;
  background-color: RGB(158, 158, 158);
}
.reset {
  display: grid;
}

.delete {
  display: grid;
}
.numbers {
  display: grid;
}
.operators {
  display: grid;
}
